################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Storage.Account/bin/Debug/net8.0
/StorageAccount.Demo/.vs
